.container {
    /* max-width: 500px; */
    width: 500px;
    height: 500px;
    border: 12px solid red;
    margin: 4rem auto;
}

#grid {
    /* width: 500px;
    height: 500px; */
    margin: 0;
    padding: 0;
    display: grid;
    /* grid-template-columns: repeat(15, 1fr); << */
    background-color: #000;
    grid-gap: 1px;
}

.box {
  /* width: 30.3px; <<< SHOULD BE EDITED */
  /* height: 30.3px; <<< SHOULD BE EDITED */
  /* width: 166.66px;
  height: 500px; */
  /* width: 32.4px;
  height: 32.4px; */
  background-color: #fff;
}

.box-reset{
  background-color: #000;
}
 #newGrid {
   padding: 0.8rem;
   margin-left: 38rem;;
 }