.container {
    max-width: 500px;
    border: 12px solid red;
    margin: 13rem auto;
}

#grid {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: #000;
    grid-gap: 1px;
}

.box {
  width: 30px;
  height: 30px;
  background-color: #fff;
}

#box2 {
  width: 30px;
  height: 30px;
  background-color: #fff;
}

#box3 {
  width: 30px;
  height: 30px;
  background-color: #fff;
}

#boxWhat, #boxWhat2 {
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.box-reset{
  background-color: #000;
}
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */