.container {
    width: 500px;
    height: 500px;
    border: 12px solid red;
    margin: 4rem auto;
}

#grid {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: #000;
    grid-gap: 1px;
}

.box {
  background-color: #fff;
}

.box-reset{
  background-color: #000;
}
 #newGrid {
   padding: 0.8rem;
   margin: auto 55rem;
   
 }